rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfiles/* {
      allow read, write: if request.auth != null;
    }
    match /texts/{userId} {
          allow read, write: if request.auth.uid == userId;
        }
  }
}
